@model Projet_ASP_books.Models.UserProfileViewModel

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Photo = "";
    if (Model.CurrentUser.Avatar == null || Model.CurrentUser.Avatar == "")
    {
        Photo = "https://zupimages.net/up/21/12/37us.jpg";
    }
    else
    {
        Photo = "/images/Users/" + Model.CurrentUser.IdUser + "/" + Model.CurrentUser.Avatar;
    }

}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center">
            <div style="margin-right: 15px;"><img style="border-radius:50%;border:1px solid black;width:125px;" src="@Photo" alt=""></div>
            <h1>Bonjour @Model.CurrentUser.Login &nbsp;!</h1>
            @*Mettre un slider avec des livres ou quoi ?*@
        </div>
    </div>
</section>

<section class="section-gap info-area" id="connexion">
    <div class="container">
        <div class="title text-center">
            <h1 class="mb-10">Vos infos</h1>
            <a href="/Member/EditProfile/Edit">Éditer les infos du profil</a> || Supprimer votre compte<br/>
            <br/>
            Nom:  @Model.CurrentUser.LastName<br />
            Prénom: @Model.CurrentUser.FirstName <br />
            Nom d'utilisateur: @Model.CurrentUser.Login <br />
            @*insert user questions here*@
            <br/>

            <h1 class="mb-10">Vos lectures</h1>

                <div class="dflex">
                    <div style="border: 1px solid grey;width: 33%;">
                        Vous avez lu<hr />
                        @foreach (var item in Model.ReadingStatus)
                        {
                            if (item.Username == Model.CurrentUser.Login)
                            {
                                if (item.Status == "Lu")
                                {
                                @item.Title<br/>
                                }
                            }
                        }
                        </div>
                    
                    <div style="border: 1px solid grey;width: 33%;">
                        Vous voudriez lire<hr />
                        @foreach (var item in Model.ReadingStatus)
                        {
                            if (item.Username == Model.CurrentUser.Login) { 
                                if (item.Status == "À lire")
                                {
                                    @item.Title<br />
                                }
                            }
                        }
                    </div>
                    <div style="border: 1px solid grey;width: 33%;">
                        Vous êtes en train de lire<hr />
                        @foreach (var item in Model.ReadingStatus)
                        {
                            if (item.Username == Model.CurrentUser.Login)
                            {
                                if (item.Status == "En cours de lecture")
                                {
                                    @item.Title<br />
                                }
                            }
                        }
                    </div>
                </div>
        </div>

    </div>
</section>

